{% extends 'blog/base.html' %}
{% block content %}

{% for post in posts %}
<div class="card mb-3">
    <div class="card-body">
        <a href="{% url 'post_detail' post.id %}">
            <h5>{{ post.title }}</h5>
        </a>

        <p>{{ post.content|truncatewords:20 }}</p>

        {% if user == post.author %}
            <a href="{% url 'edit_post' post.id %}">Edit</a>
            <a href="{% url 'delete_post' post.id %}">Delete</a>
        {% endif %}
    </div>
</div>
{% endfor %}

<h3>Weather</h3>
<p>{{ weather.name }} {{ weather.main.temp }}°C</p>

<h3>News</h3>
{% for n in news|slice:":5" %}
<p>{{ n.title }}</p>
{% endfor %}

<h3>GIFs</h3>
{% for gif in gifs %}
<img src="{{ gif.images.fixed_height.url }}">
{% endfor %}

{% endblock %}